* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    list-style-type: none;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      overflow-x: hidden;
  }

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
  }
  header .header-main {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  header .header-main .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    font-weight: 700;
    font-size: 20px;
    text-wrap: nowrap;
  }
  
  header .header-main .navbar a {
    transition: 0.3s ease-in-out;
  }
  
  header .header-main .navbar a:hover {
    color: #b00c0c;
  }
  
  header .header-main .logo {
    width: 150px;
  }
  
  header .header-main .cart {
    width: 50px;
  }
  
  .dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
    transition: 0.3s ease-in-out;
    border: 1px solid #333;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ffffff;
  }
  
  .header-main .buger-menu {
    display: none;
    cursor: pointer;
  }
  
  .header-main .buger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
    
  }
  
  .sideslip {
      opacity: 0;
      transition: opacity 0.5s ease, transform 0.5s ease;
      transform: translateX(-50%);

    }
  
    .sideslip.show {
      opacity: 1;
      transform: translateX(0);
    }
  
  @keyframes slideIn {
    0% {
      transform: translateX(60%);
    }
    100% {
      transform: translateX(-100);
    }
  }
  

.search-box {
    display: flex;
    align-items: center;
    width: 40%;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 2px;
}

.white {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.white img {
    padding: 10px 20px;
}

.gray {
    background-color: #DCD9D9;
    padding: 6px 20px;
    border-radius: 10px;
}

.search-box input {
    border: none;
    width: 100%;
    height: 30px;
}

.main-product{
    width: 80%;
    margin: 200px auto 0 auto;
}

.main-product h1{
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 32px;
    background-color: #d6d6d6;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px 20px;
}

.product-item{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #d6d6d6;
}

.pro{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.product-item img:hover{
    transform: scale(1.2);
  }

.product-item img{
    margin: 0 auto;
    height: 250px;
    width: 350px;
    display: block;
    transition: transform 0.3s ease;
}

.product-bottom{
    border-top: 1px solid #333;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.product-bottom h2{
    font-size: 32px;
}

.product-bottom p{
    font-size: 18px;
    color: #b00c0c;
}

.product-infor{
    text-align: center;
}



/* Footer */
footer {
    background-color: #e7e7e7;
    margin-top: 80px;
    padding: 80px 0 20px 0;
  }
  
  .main-footer {
    display: flex;
    margin: 0 auto;
    width: 90%;
  }
  
  .logo-footer {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .detail-footer {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    text-wrap: nowrap;
    gap: 20px;
  }
  
  .left-detail p,
  .right-detail p {
    padding: 3px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .left-detail p:hover,
  .right-detail p:hover {
    color: #b00c0c;
  }
  
  .info-footer {
    width: 40%;
  }
  
  .info-footer p{
    margin: 15px 0;
  }
  
  .info-footer h4 {
    font-size: 30px;
  }
  
  .search-footer {
    display: flex;
    width: 100%;
  }
  
  .search-footer input {
    height: 30px;
    width: 88%;
    border-radius: 5px;
    border: none;
  }
  
  .search-footer button {
    border-radius: 5px;
    width: 10%;
    background-color: #000000;
    color: #fff;
  }
  
  .icon-footer{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 300px;
  }
  
  .reserve {
    margin: 0 40px;
  }

  .thongbao {
    margin: 20px 0;
  }


@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 991px) {
  header .header-main .logo {
    width: 100px;
  }

  header .header-main .cart {
    width: 40px;
  }
  header .header-main .navbar .dropdown a {
    font-size: 16px;
  }

.main-footer {
  flex-direction: column;
  gap: 20px;
}

.logo-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-wrap: nowrap;
  gap: 20px;
}

.info-footer{
  width: 80%;
  margin: 20px auto 0 auto;
}

.icon-footer{
  justify-content: space-between;
  }

}

@media screen and (max-width: 768px) {
    .header-main .buger-menu {
      display: block;
    }
  
    .buger-menu.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .buger-menu.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .buger-menu.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    header .header-main .navbar {
      display: none;
      transition: all 0.2s ease-in-out;
    }
  
    .header-main .navbar.active {
      display: flex;
      position: fixed;
      right: -10px;
      top: 70px;
      align-items: flex-start;
      flex-direction: column;
      background-color: #ffffff;
      max-width: 350px;
      border-radius: 10px;
    }
  
    .header-main .navbar.active>*{
      margin:  20px;
    }
  
    .header-main .navbar.active .cart{
      position: absolute;
      top: -50px;
      width: 30px;
    }
  
    .icon-brand a{
      width: 50%;
  }
    
  }


@media screen and (max-width: 450px) {

    .main-product h1{
    width: 300px;
    font-size: 24px;
    }

    .product-item img{
        height: 150px;
        width: 250px;
        display: block;
        transition: transform 0.3s ease;
    }

.logo-footer img{
  width: 350px;
}

.reserve{
  margin-top: 20px;
}


}
